@use "../abstracts/variables" as *;

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 24px;
}

.grid {
  display: grid;
  gap: 32px;

  &--products {
    grid-template-columns: repeat(3, 1fr);
  }

  &--layout {
    grid-template-columns: 280px 1fr;
  }

  &--details {
    grid-template-columns: 1fr 1fr;
  }
}
