@use "../abstracts/variables" as *;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  // background: $color-bg-soft;
  // color: $color-text-primary;
  background: #ffffff;
  color: $color-text-dark;
  padding-top: 72px;
  // line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
