* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $color-bg-soft;
  color: $color-text-primary;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}
